{% extends 'rango/base.html' %}

{% load bootstrap_toolkit %}

{% block title %}{% endblock %}

{% block body_block %}
<div class="page-header">
{% if user.is_authenticated %}

    <form role="form" id="category_form" method="post" action="/rango/">

        <h2 class="form-signin-heading">Add a Category</h2>
        <!--This is a Cross-Site Request Forgery (CSRF) token, -->
        <!--which helps to protect and secure the HTTP POST action that is initiated -->
        <!--on the subsequent submission of a form. -->
        {{ form|as_bootstrap }}
        <br />
        <button class="btn btn-primary" type="submit" name="submit">Add Category</button>
    </form>
{% else %}
<strong>You haven't logined in! Please go to the index Page!</strong>
<!--<a href="/rango/">Index</a>-->
<a href="{% url 'index' %}">Index</a>
{% endif %}
</div>
{% endblock %}